.heading-4 /*the dot represents a class name in the html file*/
{
    background-color: rgb(12, 58, 2);
    padding:1em 0;
    border: 1px solid white;
    color:bisque;
    border-radius: 150px;
    text-align: center;
}

#nine-patch /*hash tag represents an id name in the html file*/
{
    list-style-type:square; 
}

#nine-patch li 
{ 
    background-color: dodgerblue;
    padding:0.2em;
    border-bottom:1px solid red;
}

#nine-patch ul{
list-style-type: disc;
}
