.heading-4 /*the dot represents a class name in the html file*/
{
    background-color: rgb(12, 58, 2);
    padding:1em 0;
    border: 1px solid white;
    color:bisque;
    border-radius: 150px;
    text-align: center;
}

#main-menu
{
    list-style-type: none; /*remove bullets*/
    background-color: rgb(202, 249, 226);
    width:80%;
    height:80%;
    text-align: center;
    padding:0;
    margin:auto;
}

#main-menu li a{
    display:block;
    color:maroon;
    text-decoration: none;
    border-bottom: 1px solid blue;
    padding:0.5em 0.2em
}

#main-menu li a:hover
{
    background-color: blue;
    color:white;
}

.active
{
    background-color: rgb(255, 77, 0);
    color:white;
}
