body{
    background-color: blanchedalmond; /*background color*/
}

header /*header*/
{
    background-color:goldenrod;  
    color:aliceblue; /*change color of text*/
    text-align: center;/*align text within the element*/
    padding-top:2em;
    padding-bottom:2em ;
    border: 0.2em solid rgb(5, 29, 245);
    
}

h1
{
    font-size: 2em; /*standard font size is 16px;
    1em is 16px*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
nav
{
    background-color:aquamarine;
    color:coral;
    width:15%;
    float:left;
    height:600px;
}

section{
    width:80%;
    float:left;
    padding-left: 1em;
}

footer{
    clear:both;
    background-color:darkgreen;
    padding:1em 0em;
}